@import url("/assets/css/common.css");

* {
    font-family: revert;
}

.side-bar {
    min-width: 20%;
    font-family: monospace !important;
}

.nav-bar {
    padding-left: 10px;
    padding-right: 10px;
}

.post:not(pre) {
    background-color: #FFFFFF33;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: justify;
    font-family: sans-serif;
}

.post-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 25%;
    max-width: 100%;
}